/* https://github.com/fernandaib/For-school-files
   v1.0 | 202306007
   License: none (public domain)
*/

/* ------------------------------------------NAV BAR------------------------------------------*/
.header-sample{
    
    font-size: clamp(1rem, 1.5vw, 1rem);
    
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 1rem 10%;    
    transition: 0.3s;       

    border: solid 1px rgba(214, 214, 214, .5);
    
 }

 .mainLogo-sample{    
    width: 25%;
    height: auto;
 }

 .mainLogo-sample a{    
    display: block;
 }

 .navigation-sample{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .menu-sample{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
 }

 .menu-sample li{    
    list-style-type: none;
    text-decoration: none;    
    display: block;
    padding-left: 1.5rem;    
 }

 .menu-sample li a{
  
  text-decoration: none;
  transition: 0.3s;
}

 .menu-sample li a:hover{
    background-color: #d6d6d6;
    
 }

 .hamburger-sample{
   position: relative;
   width: 30px;
   height: 4px;
   background:#6f6f6f;
   border-radius: 10px;
   cursor: pointer;
   z-index: 2;
   transition: .3s;
 }

 .hamburger-sample:before,
 .hamburger-sample:after{
   content: "";
   position: absolute;
   height: 4px;
   right: 0;
   background: #6f6f6f;
   border-radius: 10px;
   width: 30px;
   transition: .3s;
   
 }

 .hamburger-sample:before{
   top: -10px;
 }
 .hamburger-sample:after{
   top: 10px;
 }

 .toggleMenu-sample{
   position: absolute;
   width: 30px;
   height: 100%;
   z-index: 3;
   cursor: pointer;
   opacity: 0;
 }

 .hamburger-sample, .toggleMenu-sample{
   display: none;
 }

 .navigation-sample input:checked~.hamburger-sample{
   background: transparent;
 }

 .navigation-sample input:checked~.hamburger-sample:before{
   top: 0;
   transform: rotate(-45deg);
   width: 30px;
 }

 .navigation-sample input:checked~.hamburger-sample::after{
   top: 0;
   transform: rotate(45deg);
   width: 30px;
 }

 .navigation-sample input:checked~.menu-sample{
   right: 0;
   box-shadow: -10px 0 40px rgba(214, 214, 214, .5);
 }
/* ------------------------------------------SLIDE------------------------------------------*/
.sample-slide h1 {
  font-size: 2em;  
  margin-bottom: .5em;;
}

.slideshow-sample {
  position: relative;
  width: 300px;
  height: auto;
  margin: auto;  
  
}

.slideshow-sample img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow-sample img.active {
  opacity: 1;
}

/*------------------------------------------JUMBOTRON------------------------------------------*/
.jumbotron-sample{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e9e9e9;
  color: #7b7b7b;
}

.jumbotron-sample .jumbotron-inner-sample{
  width: 70%;
}

.jumbotron-sample .jumbotron-inner-sample h2{
  font-size: clamp(1rem, 7vw, 6rem);
  font-weight: 700;
  margin-bottom: 1em;
}

.jumbotron-sample .jumbotron-inner-sample p{
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 1em;
}

.jumbotron-btn-sample{
  display: flex;
  justify-content: center;
  gap: 2em;
}

.jumbotron-btn-sample .btn-one-sample{  
  background-color: #FFF;
  border: solid 2px #7b7b7b;
  border-radius: .5em;
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: .25em 1em;  
  cursor: pointer;
}

.jumbotron-btn-sample .btn-two-sample{
  background-color: #e3e3e3;
  border: solid 2px #FFF;
  border-radius: .5em;
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: .5em 1em;  
  cursor: pointer;
}


 /*============================TABLET SIZE============================*/


 @media screen and (max-width: 900px) {

   

   /* ------------------------------------------NAV------------------------------------------*/

   .hamburger-sample, .toggleMenu-sample{
      display: block;
    }

    .header-sample{
      padding: .5rem 2rem;  
        
    }
   
   .menu-sample{      
      justify-content: start;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 280px;
      right: -300px;      
      width: 300px;
      height: 100%;
      padding-top: 100px;
      background-color: #FFF;
      
   }

   .menu-sample li{
      
      width: 100%;
      padding: 30px;      
      box-shadow: 0 1px 0 rgba(214, 214, 214, .5)
      inset;
   }

   /* ------------------------------------------SLIDE------------------------------------------*/

   .slideshow-sample{
    width: 70%;
    margin-left: 0;

   }

   /* .slideshow-sample {
    position: relative;
    width: 210px;
    height: auto;
    margin: auto;  
    
  } */
  
  /* .slideshow-sample img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  } */

   

  



 }
