@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,900&display=swap');

/* --------------------------------- */
/* Custom Properties                 */
/* --------------------------------- */ 

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-weight */
  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;
  --fw-200: 200;
  --fw-100: 100;

  /* font-families */
  --ff-poppins: 'Poppins', sans-serif;
  --ff-open-sans: 'Open Sans', sans-serif;
  --ff-source-sans-pro: 'Source Sans Pro', sans-serif;
    
  /* font-size upgrade*/
    --fs-01: clamp(3rem, 3.5vw, 4rem);
    --fs-02: clamp(2.5rem, 3vw, 3.5rem);
    --fs-03: clamp(2rem, 2.5vw, 3rem);
    --fs-04: clamp(1.5rem, 2vw, 2.5rem); 
    --fs-05: clamp(1rem, 1.5vw, 2rem); 
    --fs-06: clamp(.5rem, 1vw, 1.5rem);           

}


/* --------------------------------- */
/* Reset                             */
/* --------------------------------- */

/* Box sizing */
*, *::before, *::after                       {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
/* Reset margins */
body, h1, h2, h3, h4, h5, p, figure, picture {margin: 0;}
/* Set up the body */
body                                         {font-family: var(--ff-poppins);font-size: var(--fs-06); color: hsl(var(--clr-dark));background-color: hsl(var(--clr-white)); overflow-x: hidden;}
/* makes images easier to work with */
img                                          {max-width: 100%; display: block;}
/* make form elements easier to work with */
input, button, textarea, select              {font: inherit;}

/*----- Accessibility ----- */
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce)      {*, *::before, *::after { animation-duration: 0.01ms !important; animation-iteration-count: 1 !important;transition-duration: 0.01ms !important;scroll-behavior:auto !important; }}
/* Prevents the element that the class is attached to from being sent to the printer. */
@media print                                 {.noPrint { visibility: hidden; }}

/*----- Screen Reader Only ----- */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}


/* --------------------------------- */
/* Utility classes                   */
/* --------------------------------- */

/*----- General ----- */
.container                        {padding: 0 2em;margin: 0 auto;max-width: 80rem;}
.d-block                          {display: block;}
.flex                             {display: flex; gap: 1rem;}
.grid                             {display: grid; grid-template-columns: repeat(12, 1fr);grid-column-gap: 1em;grid-row-gap: 1em; gap: 1em;} 

/*----- Grid ----- */
.grid-container                   {position:relative;width:100%;max-width:960px;margin:0 auto;padding:0 20px;box-sizing:border-box;place-items: center;text-align: center;} 
.row                              {width: 100%;}
.grid-container:after,.row::after {content: ""; display: table; clear: both;}
[class*="columns-"]               {width: 85%;float: left; padding: 15px; border-radius: 4px; margin: auto;}
#example-grid [class*="columns-"] {border: 1px solid white; background-color: #4d4d4d;color: #fff;text-align: center;font-size: var(--fs-200);}

@media (min-width: 400px) {
  .grid-container {max-width: 85%;padding: 0;margin: 5%; }
  [class*="columns-"]{width:100%;overflow: hidden;}
  [class*="columns-"] > *:where(:not(:first-child)) { margin-left: 20px;}
} 

@media (min-width: 576px) {
  .grid-container                   {width: 100%;}
  [class*="columns-"]               {margin-left: 4%; margin-top: 3%;}
  [class*="columns-"]:first-child   {margin-left: 0;}
  .columns-1                        {width: 4.66%;}
  .columns-2                        {width: 13.33%;}
  .columns-3                        {width: 22%;}
  .columns-4                        {width: 30.66%;}
  .columns-5                        {width: 39.33%;}
  .columns-6                        {width: 48%;}
  .columns-7                        {width: 56.66%;}
  .columns-8                        {width: 65.33%;}
  .columns-9                        {width: 74%;}
  .columns-10                       {max-width: 82.66%;}
  .columns-11                       {width: 91.33%;}
  .columns-12                       {width: 100%;}
}

/*----- Colors ----- */
.bg-dark              {background-color: hsl(var(--clr-dark));}
.bg-accent            {background-color: hsl(var(--clr-light));}
.bg-white             {background-color: hsl(var(--clr-white));}

.text-dark            {color: hsl(var(--clr-dark));}
.text-accent          {color: hsl(var(--clr-light));}
.text-white           {color: hsl(var(--clr-white));}

/*----- Typography ----- */
h1, h2, h3, h4, h5, h6 {margin: 0;}

.ff-poppins           {font-family: var(--ff-poppins);}
.ff-open-sans         {font-family: var(--ff-open-sans);}
.ff-source-sans-pro   {font-family: var(--ff-source-sans-pro);}

.letter-spacing-1     {letter-spacing: 4.75px;}
.letter-spacing-2     {letter-spacing: 2.7px;}
.letter-spacing-3     {letter-spacing: 2.35px;}

/*----- Text Helper Classes ----- */
.text-uppercase       { text-transform: uppercase;}
.text-lowercase       { text-transform: lowercase;}
.text-capitalize      { text-transform: capitalize;}
.text-justify         { text-align: justify;}
.text-center          { text-align: center;}
.text-left            { text-align: left;}
.text-right           { text-align: right;}
.text-wrap            { word-wrap: break-word;}
.text-nowrap          { word-wrap: normal;}

/*----- Font Weight ----- */
.fw-900               { font-weight: var(--fw-900);}
.fw-800               { font-weight: var(--fw-800);}
.fw-700               { font-weight: var(--fw-700);}
.fw-600               { font-weight: var(--fw-600);}
.fw-500               { font-weight: var(--fw-500);}
.fw-400               { font-weight: var(--fw-400);}
.fw-300               { font-weight: var(--fw-300);}
.fw-200               { font-weight: var(--fw-200);}
.fw-100               { font-weight: var(--fw-100);}


/*----- Tables ----- */
th, td                                  {padding: 12px 15px; text-align: left;border-bottom: 1px solid #E1E1E1; }
th:first-child, td:first-child          {padding-left: 0;}
th:last-child, td:last-child            {padding-right: 0;}

/*----- Buttons ----- */

/*----- Forms ----- */

/*----- Responsive Images ----- */
.responsive-img                          {width: 100%;height: auto;}

/*----- Helper Classes ----- */
.float-right          {float: right; }
.float-left           {float: left; }
.clearfix             {overflow: auto;}
.clearfix:after       {content: "";clear:both;display: block;height:0;line-height:0;visibility:hidden;}

/*----- Icons ----- */


/* --------------------------------- */
/* Components                        */
/* --------------------------------- */

/*-----  Modal Pop-Up CSS Component ----- */
.modalDialog                            {position: fixed;top: 0;right: 0;bottom: 0;left: 0;background-color:var(--clr-white);color: var(--clr-dark);z-index: 99999;opacity:0; 
                                        -webkit-transition: opacity 100ms ease-in; -moz-transition: opacity 100ms ease-in; transition: opacity 100ms ease-in;pointer-events: none;}
.modalDialog:target                     { opacity: 1; pointer-events: auto;}
.modalDialog > div                      {max-width: 800px;width: 90%;position: relative;margin: 10% auto;padding: 20px;border-radius: 3px;background:#4d4d4d;color: #fff;}
.modalDialog > p                        {line-height: 1.1;}
.modalClose                             {background: #444;color: #fff;line-height: 25px;position: absolute;right: -12px;text-align: center;top: -10px;width: 34px;height: 34px;
                                        text-decoration: none;font-weight: bold;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;-moz-box-shadow: 1px 1px 3px #000;
                                        -webkit-box-shadow: 1px 1px 3px #000;box-shadow: 1px 1px 3px #000;padding-top: 5px;}
.modalClose:hover                       {background: #a9a9a9;}



/*---------- Fonts upgrade. Styling page: Typography section ----------*/

.ff-poppins h1,
.ff-poppins h2,
.ff-poppins h3,
.ff-poppins h4,
.ff-poppins h5,
.ff-poppins h6{    
    font-family: var(--ff-poppins);    
    color: hsl(var(--clr-dark));    
}

.ff-poppins h1{
    font-size: var(--fs-01);
}

.ff-poppins h2{
    font-size: var(--fs-02);
    text-shadow: none;
}

.ff-poppins h3{
    font-size: var(--fs-03);
    text-decoration: none;    
    margin-top: 0;
    border-bottom: none;    
}

.ff-poppins h4{
    font-size: var(--fs-04);    
}

.ff-poppins h5{
    font-size: var(--fs-05);    
}

.ff-poppins h6{
    font-size: var(--fs-06);    
}


